<h1>Edit Artist</h1>

<%= form_for @artist do |f| %>
 
  <%= render 'errors'%>
 
  <%= render 'artistinfo', f: f %>

  <% if @artist.isgroup %>
    <h2>Edit a member of the group</h2>
    <% @artist.bands.each do |band| %> 
      <%= f.fields_for :bands, band do |ff| %>
      <h4><%=band.individual.name%> </h4>
      <h5> Joining date </h5>
      <%= ff.date_field :joining %><br> 
      <h5> Leaving date </h5>
      <%= ff.date_field :leaving %><br> 


     <% end %>
   <% end %>
  <% end %>

  <p>
    <%= f.submit %>
  </p>

<% end %> 

<%= link_to 'Back', artists_path %>
