
 
  <%= render 'errors'%>

  <p>
    <strong>Name:</strong>
    <%= @artist.name %>

  </p>
 
  <p>
    <strong>Bio:</strong>
    <%= @artist.bio %>

  </p>

  <p>
 
    <% if @artist.isgroup %>
      <h2>Group of artists     </h2>

      <h6>A group should have at least one member</h6>
      <h2>Members of the group</h2>
      <table>
        <tr>
        <th>Name</th>
        <th>Joining date</th>
        <th>Leaving date</th>
        <th colspan="1"></th>
      </tr>
      <% @artist.bands.each do |band| %>
        <tr>
        <td><%= band.individual.name %></td>
        <td><%= band.joining %></td>
        <td><%= band.leaving %></td>
        <td><%= link_to 'Edit', edit_artist_path(band.individual) %></td>
      </tr>  
      <% end %>
      </table>
 

    <% else %>   
      <h2>
        Single artist
      </h2>
    <% end %>
  </p>

  <h2>Songs played by the artist </h2>
    <table>
    <tr>
      <th>Title</th>
      <th>Genre</th>

    </tr>
    <% @artist.songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song_path(song) %></td>
        <td><%= song.genre %></td>

      
      </tr>  
    <% end %>
  </table>

<%= form_for @artist, url: managesong_artist_path(@artist) do |f| %>


 <h4>Songs played by the artist:</h4>
 <p>
   <%= select_tag "song_to_add", options_from_collection_for_select(Song.all, "id" , "title") %>
<%= check_box_tag("song_add") %>
<%= label_tag("song_add", "Add this association") %>
<br>
  </p>
<h4>Remove a song played by the artist:</h4>
<p>
  <%= select_tag "song_to_delete", options_from_collection_for_select(@artist.songs, "id" , "title") %>
<%= check_box_tag("song_del") %>
<%= label_tag("song_del", "Remove this association") %>

<br>
  </p>
  <p>
    <%= f.submit %>
  </p>


<% end %>

    <% if @artist.isgroup %>

      <%# @group = @artist %>  

      <h2> Add a member to the group:   </h2>

      <%= form_for([@artist, @artist.bands.build])  do |ff| %>
        <p>
          <%= ff.select :individual_id, Artist.where(:isgroup=>false).collect{ |p| [p.name, p.id] } %><br>
        </p>
        <p>
          <h5> Joining date </h5>
          <%= ff.date_field :joining %>
        </p>
        <p>
          <h5> Leaving date </h5>
          <%= ff.date_field :leaving %>
        </p>

 

        <p>
        <%= ff.submit %>
        </p>
       <% end %>	
     <% end %>	

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Add another artist', new_artist_path %> |
<%= link_to 'Back', artists_path %>
