<%= form_for @setlist do |f| %>
 
  <% if @setlist.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@setlist.errors.count, "error") %> prohibited
        this setlist from being saved:
      </h2>
      <ul>
        <% @setlist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.select :concert_id, Concert.all.collect{ |p| [p.name, p.id] } %><br>
     
  </p>
 
  <p>
    <%= f.select :song_id, Song.all.collect{ |p| [p.title, p.id] } %><br>
  </p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>
