<%= form_for @song do |f| %>
 
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@song.errors.count, "error") %> prohibited
        this song from being saved:
      </h2>
      <ul>
        <% @song.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :genre %><br>
  <%= select_tag "genre_s", options_for_select(  Song.all_genres.to_a)  %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

<% end %>
