<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>
 
<p>
  <strong>Genre:</strong>
  <%= @song.genre %>
</p>
 
<p>
  <strong>youtube:</strong>
  <%= @song.ytid %>
</p>

<h2>Artists performing this song: </h2>
  <table>
  <tr>
    <th>Name</th>

  </tr>
  <% @song.artists.each do |artist| %>
    <tr>
      <td><%= link_to artist.name, artist_path(artist) %></td>

    </tr>  
  <% end %>
</table>

<h2>Concerts where this song was performed: </h2>
  <table>
  <tr>

    <th>Name</th>
  </tr>
  <% @song.setlists.each do |setlist| %>
    <tr>   
      <td><%= link_to setlist.concert.name, concert_path(setlist.concert) %></td>

    </tr>  
  <% end %>
</table>
<br>
<% if @song.ytid.present?%> 
  <iframe id="player" type="text/html" width="480" height="270"src="http://www.youtube.com/embed/<%= @song.ytid %>?enablejsapi=1&origin=http://example.com"
  frameborder="0"></iframe> 
  <br>
<% end %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Add another song', new_song_path %> |
<%= link_to 'Concert index', concerts_path %> |
<%= link_to 'Back', songs_path %>
