<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>
 
<p>
  <strong>Country:</strong>
  <%= @venue.country %>
</p>

<% if false%>
<h2>Concerts held here</h2>
  <table>
  <tr>
    <th>Name</th>
    <th>Date</th>
  </tr>
  <% @venue.concerts.each do |concert| %>
    <tr>
      <td><%= link_to concert.name, concert_path(@concert) %></td>
      <td><%= concert.date %></td>
    </tr>  
  <% end %>
</table>
<%end%>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Add another venue', new_venue_path %> |
<%= link_to 'Concert index', concerts_path %> |
<%= link_to 'Back', venues_path %>
