<h2>Concert</h2>
<p>
  <strong>Name:</strong>
  <%= @concert.name %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<h2>Setlist</h2>
  <table>
  <tr>
    <th>Position</th>
    <th>Title</th>
    <th colspan="1"></th>
  </tr>
  <% @concert.setlists.order("position").each do |setlist| %>
    <tr>
      <td><%= setlist.position %></td>
      <td><%= setlist.song.title %></td>
      <td><%= link_to 'Edit', edit_concert_path(@concert) %></td>
    </tr>  
  <% end %>
</table>

<h2>Add a song to the setlist:</h2>
<%= form_for([@concert, @concert.setlists.build]) do |f| %>
  <p>
   <%= f.select :song_id, Song.all.collect{ |p| [p.title, p.id] } %><br>
  </p>
<%= link_to 'Add a new Song?', new_song_path %> 

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit concert', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
