<!DOCTYPE html>
<html>
  <head>
    <title>Manythrough</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <header>
      <h1>My Concert</h1>
    </header>

    <nav>
      <ul>
        <li><%= link_to 'Home', welcome_index_path %></li>
 
        <li><%= link_to 'Concert', concerts_path %></li>
        <li><%= link_to 'Song', songs_path %></li>
        <li><%= link_to 'Artist', artists_path %></li>
      </ul>
    </nav>
      
  
    <article>
 
 
      <%= yield %>

 
 
   </article> 


    <footer>Copyright &copy; F. Magro</footer>
    </div>
  </body>
</html>
